.statistics {
  background-color: white;
  border: 1px solid #edf1f4;
}

.title {
  padding: 25px 0;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.statList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}

.label {
  font-size: 14px;
}

.percentage {
  font-size: 20px;
}
